<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>$PAGETITLE$</title>
    <meta lang="IT-it" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="vncore.css" />
    <script src="vnengine.js"></script>
    <script>
      function exit() {
        window.location.href = "$EXITURL$";
      }
    </script>
  </head>

  <body onload="vnml()">
    $ITSAME$
  </body>
</html>
