<html
  xmlns="http://www.w3.org/1999/xhtml"
  lang="$PAGELANG$"
  xml:lang="$PAGELANG$"
>
  <head>
    <title>$PAGETITLE$</title>
    <meta lang="$PAGELANG$" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/res/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/res/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/res/favicon-16x16.png"
    />
    <link rel="manifest" href="/res/site.webmanifest" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="vncore.css" />
    <script src="vnengine.js"></script>
    <script>
      function exit() {
        window.location.href = "$EXITURL$";
      }
    </script>
  </head>

  <body onload="vnml()">
    $ITSAME$
  </body>
</html>
