<html
  xmlns="http://www.w3.org/1999/xhtml"
  lang="$PAGELANG$"
  xml:lang="$PAGELANG$"
>
  <head>
    <title>$PAGETITLE$</title>
    <meta lang="$PAGELANG$" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="vncore.css" />
    <script src="vnengine.js"></script>
    <script>
      function go(slot, reset) {
        window.open(`$DESTINATION$?${reset ? "c" : "s"}=${slot}`, "_self");
      }
    </script>
  </head>

  <body
    onload="menu(`$TITLE$`,'$MENUBACKGROUND$','$MENUBACKGROUNDMOBILE$', `$MENUV1$`,`$MENUV2$`,`$MENUV3$`)"
  >
    <div id="menubackground" class="VNMBackground VNBackgroundFull">
      <div class="VNMTitle">$TITLE$</div>
      <div class="VNMAuthor">$AUTHOR$</div>
    </div>
  </body>
</html>
